<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tandia Gestión</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/tandia_icon.png') }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/26112bca0b.js" crossorigin="anonymous"></script>
</head>

<body>


  <div class="div_left">
    <div class="contenido">
      <img src="{{ url_for('static', filename='images/tandia_logo.png') }}" alt="tandia_logo" class="tandia_logo">
      <p>¡Bienvenido a <strong>Tandia Gestión</strong>, la herramienta que hará tu trabajo más eficiente y exitoso!</p>
      <br>
      <p>En <strong>Tandia Gestión</strong>, estamos comprometidos con tu éxito en las áreas de soporte, ventas, cobranzas y mucho más.
        Sabemos
        que tu labor es fundamental para el funcionamiento de nuestro negocio, y queremos hacerte la vida más sencilla y
        productiva.</p>
      <br>
      <p>Al iniciar sesión, accederás a un mundo de posibilidades que te permitirán brindar un servicio excepcional,
        cerrar
        ventas de manera más efectiva, gestionar cobranzas de manera eficiente y mucho más. Aquí, no solo trabajas, sino
        que creces y te superas día a día.</p>
      <br>
      <p><strong>Tandia Gestión</strong> es tu aliado, tu compañero de trabajo y tu plataforma para el éxito. ¡Ingresa ahora y descubre
        cómo
        podemos
        ayudarte a alcanzar tus metas y hacer tu trabajo más gratificante! Estamos juntos en esto, ¡Vamos a triunfar!
      </p>
      <div><a href="/login">Iniciar sesión</a></div>
    </div>
  </div>

  <div class="div_right">
    <img src="{{ url_for('static', filename='images/Setup-amico 1.png') }}" alt="Imagen de ejemplo">
  </div>


</body>

</html>